/**/

body{
    background-image: url(../imagens/fundo.jpg);
    background-size: 110%;
    
}
#tituloLogin{
    text-align: center;
    font-family: arial;
    font-size: 36px;
    color: white;
}
.linhaUsuario{
     margin-top: 50%;
}
.linhaSenha{
     margin-top: 5px;
}
#logar{
     margin-top: 5px;
     color: gray;
}
#tituloCadastrar{
    text-align: center;
    font-family: arial;
    font-size: 36px;
}

#tituloMenu{
    text-align: center;
    font-family: arial;
    font-size: 36px;
}

#tituloRedifinicao{
    text-align: center;
    font-family: arial;
    font-size: 36px;
}

#tituloMesa{
    text-align: center;
    font-family: arial;
    font-size: 36px;
}

#user{
    text-align: center;
    width: 385px;
    height: 80px;
    color: white;
}

#icone{
    text-align: center;
    margin-top: -40px;
    margin-right: 100px;
    width: 70px;
    height: 80px;
    color: white;
}

label {
  cursor: default;  
}

#remover{
    margin-top: 20px;
}

hr{
  display: block;
  margin-top: -50px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  background-color: black;
}

.linha{
    text-align: center;
    margin-top: 10px;
}


