/**/

#titulo{
    background-color: black;
    color: black; 
}

#tituloLogin{
    text-align: center;
    font-family: arial;
    font-size: 36px;
}

#tituloCadastrar{
    text-align: center;
    font-family: arial;
    font-size: 36px;
}

