/**/

body{
    background-color: #ffe082;
    background-size: 110%;
}
#tituloLogin{
    text-align: center;
    font-family: arial;
    font-size: 30px;
    color: white;
}
.linhaUsuario{
    margin-top: 50%;
}
.linhaSenha{
    margin-top: 5px;
}
#logar{
    margin-top: 5px;
    color: gray;
}
#tituloCadastrar{
    text-align: center;
    font-family: arial;
    font-size: 30px;
}

#tituloMenu{
    margin-top: 13px;
    text-align: right;
    font-family: arial;
    font-size: 30px;
    color: white;
}

#tituloRedifinicao{
    text-align: center;
    font-family: arial;
    font-size: 30px;
}

#tituloMesa{
    text-align: center;
    font-family: arial;
    font-size: 30px;
}

#user{
    text-align: center;
    width: 385px;
    height: 80px;
    color: white;
}

#icone{
    text-align: center;
    margin-top: -40px;
    margin-right: 100px;
    width: 70px;
    height: 80px;
    color: white;
}

label {
    cursor: default;  
}

#remover{
    margin-top: 20px;
}

hr{
    display: block;
    margin-top: -50px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    background-color: black;
}

.linha{
    text-align: center;
    margin-top: 10px;
}

table{
    color: white;
}

#iconeAdicionar{
    margin-top: 80%;
    margin-left: 270px;
}

#iconetrd{
    margin-top: 17px;
    float: right;
    color: white;
}

#btnComandas{
    height: 170px;
    margin-top: 15%;
    font-size: 25px;
    background-color: white;;
    color: black;
}
#btnPedidos{
    height: 170px;
    margin-top: 15%;
    font-size: 25px;
    background-color: white;
    color: black
}
.titulo{
    background-color: #ffc107;
}

#iconeVoltar{
    margin-top: 17px;
    float: left;
    color: white;
}